@import '../../components/GlobalStyel/variables';

$bannerHeight: 50rem;
$brightness: 60%;
$timeduration: 5s;

@mixin themeTitle1 {
    color: $themeColor2;
    font-size: 1.2rem;
}
@mixin themeTitle2 {
    padding-top: 1rem;
    font-weight: 800;
    font-size: 3rem;
    line-height: normal;
}
@mixin paragraph {
    color: $subTextColor;
    font-size: 1.2rem;
}

@keyframes slideFadeIn {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideBanner {
    0% {
        filter: brightness(0%);
    }
    50% {
        filter: brightness($brightness);
    }
    100% {
        filter: brightness(0%);
    }
}

@keyframes slideTourCard {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: $bannerHeight;
    img {
        width: 100%;
        height: $bannerHeight;
        object-fit: cover;
        position: absolute;
        filter: brightness($brightness);
        z-index: -1;
        animation: slideBanner $timeduration ease-in-out infinite;
    }
    h1,
    p {
        margin-bottom: 3rem;
        color: white;
    }
    h1 {
        font-size: 5rem;
        animation: slideFadeIn 2s ease-in-out;
    }
    p {
        font-weight: 200;
        font-style: italic;
        opacity: 0;
        letter-spacing: 0.7rem;
        animation: slideFadeIn 2s 2s ease-in-out;
        animation-fill-mode: forwards;
    }
}

.searchBar {
    width: 100rem;
    height: 10rem;
    background-color: white;
    border-radius: 10rem;
    transform: translateY(-50%);
    box-shadow: $boxShadow;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    ul {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        li {
            i {
                color: $buttonColor;
            }
        }

        .content {
            select {
                border-radius: 0.5rem;
                background-color: white;
                font-size: 1.3rem;
                color: $mainTextColor;
                cursor: pointer;
                border: none;
                outline: none;
            }

            ul {
                display: flex;
                flex-direction: column;
                justify-content: center;
                box-shadow: $borderShadow;
                border-radius: 0.5rem;
                background-color: white;
                font-size: 1.3rem;
                color: $mainTextColor;
                cursor: pointer;
                li {
                    height: 3rem;
                    padding: 0 3rem;
                    display: flex;
                    align-items: center;
                    &:hover {
                        font-weight: bold;
                        background-color: #f6f6f6;
                    }
                }
            }
        }
    }
    .searchButton {
        background-color: $buttonColor;
        border: none;
        color: white;
        font-size: 1.5rem;
        font-weight: 300;
        padding: 1rem 3rem;
        margin-left: 3rem;
        border-radius: $buttonBorder;
        cursor: pointer;
        box-shadow: $boxShadow;
        transition: all 0.3s ease-in-out;
        i {
            padding-right: 1rem;
            font-size: small;
        }
        &:hover {
            background-color: $buttonColorHover;
            box-shadow: $borderShadow;
            transform: translateY(-2px);
        }
    }
}

.trendy {
    display: flex;
    flex-direction: column;
    width: 100%;
    span {
        @include themeTitle1;
    }
    h2 {
        @include themeTitle2;
    }
    .header {
        display: flex;
        justify-content: space-between;
    }
    .content {
        display: flex;
        flex-wrap: wrap;
        margin-top: 5rem;
        .tourCard {
            position: relative;
            flex: 1 1 calc(33.333%);
            padding: 1rem;
            img {
                width: 100%;
                border-radius: $imageBoder;
                height: 13rem;
                object-fit: cover;
            }
            p {
                position: absolute;
                bottom: 3rem;
                left: 3rem;
                background-color: #fff;
                padding: 0.5rem 2rem;
                border-radius: $buttonBorder;
            }
        }
    }
}

.about {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: $backgroundSection1;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

.about-content {
    display: flex;
    .imgage {
        position: relative;
        flex: 1 0 40%;
        margin-right: 5rem;
        .experienceBox {
            position: absolute;
            bottom: 5rem;
            left: 5rem;
            color: white;
            padding: 1.5rem;
            border-radius: 1rem;
            font-size: 1.5rem;
            span {
                font-size: 5rem;
                display: block;
                font-weight: 800;
                line-height: normal;
            }
            background-color: $themeColor1;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: $imageBoder;
            box-shadow: $boxShadow;
        }
    }

    .detail {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        span {
            @include themeTitle1;
        }
        h2 {
            @include themeTitle2;
        }
        p {
            @include paragraph;
        }
        .slogan {
            @include themeTitle2;
            font-size: 1.5rem;
            background-color: #fff;
            padding: 2rem;
            border-radius: 1rem;
            border-left: 0.5rem solid $themeColor2;
        }
        .benefits {
            display: flex;
            ul {
                flex: 1 0 50%;
                li {
                    @include paragraph;
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    margin-bottom: 1rem;
                }
                i {
                    margin-right: 0.5rem;
                    color: $themeColor2;
                    font-size: 2rem;
                }
            }
        }
    }
}

.about-footer {
    margin-top: 5rem;
    p {
        @include paragraph;
        font-size: 1.5rem;
        font-weight: 500;
        max-width: 660px;
        text-align: center;
    }
}
