$bannerHeight: 50rem;
$brightness: 60%;
$timeduration: 5s;

@keyframes slideFadeIn {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideBanner {
    0% {
        filter: brightness(0%);
    }
    25% {
        filter: brightness($brightness);
    }
    75% {
        filter: brightness($brightness);
    }
    100% {
        filter: brightness(0%);
    }
}
.banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: $bannerHeight;
    img {
        width: 100%;
        height: $bannerHeight;
        object-fit:cover;
        position: absolute;
        filter: brightness($brightness);
        z-index: -1;
        animation : slideBanner $timeduration ease-in-out infinite ;
    }
    h1 , p {
        margin-bottom: 3rem;
        color: white;
        
    }
    h1{
        font-size:5rem;
        animation: slideFadeIn 2s ease-in-out;
    }
    p{
        font-weight:200;
        font-style: italic;
        opacity: 0;
        letter-spacing: 0.7rem;
        animation: slideFadeIn 2s 2s ease-in-out;
        animation-fill-mode:forwards;
    }
}
