@import '../../GlobalStyel/variables';
$height : 60px;
.header {
    height: $height;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 5rem 0 5rem;
    position: fixed;
    z-index: 1;

    .logo {
        height: 70%;
    }
    .menu {
        height: 100%;
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-grow: 1;
        margin-left: 15rem;
        position: relative;
        li {
            a,
            i {
                text-decoration: none;
                color: white;
                font-weight: 300;
                padding-left: 30px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .hoverBackground {
            position: absolute;
            // margin-left: 15rem;
            // padding: 0 1rem;
            height: 60%;
            background-color: $backgroundColor; // Màu nền khi hover
            border-radius: 5rem;
            z-index: -1;
            transition: left 0.3s ease, width 0.3s ease;

        }
    }
}



