@import '../../GlobalStyel/variables';
$height : 60px;
.scrolled {
    background-color:$themeColor1;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    .active {
        background-color: #fff;
    }
    a,
    i {
        color: #000 !important;
        font-weight: 700;
        &:hover {
            cursor: pointer;
            color: $textColorHover;
        }
        
    }
}
.header {
    height: $height;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 5rem 0 5rem;
    position: fixed;
    z-index: 1;

    .logo {
        height: 70%;
    }
    .menu {
        height: 100%;
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-grow: 1;
        margin-left: 15rem;
        position: relative;
        li {
            a,
            i {
                text-decoration: none;
                color: white;
                font-weight: 300;
                &:hover {
                    cursor: pointer;
                    color: $textColorHover;
                }
               
            }
        }
    }
}



.active {
    background-color: $backgroundColor;
    padding: 1rem 2rem;
    border-radius: $buttonBorder;
    transition: left 0.3s ease, width 0.3s ease;
}